	<div class="padding-5 animated fadeInUp">

  	<div class="col-md-8 col-sm-12 padding-5">
  		<div class="card">

			<div class="panel-heading">
				<h3 class="margin-top-10">John's High School</h3>
				<p>Childeren Education</p>
			</div>
		  <div class="panel-body">
		    <div class="row">
		    	<div class="col-xs-12">
		    		<h3>Performance</h3>
		    	</div>
		    	<div class="col-xs-2">
					  <div class="form-group input-group">
					  	<span><small>Year 1</small></span>
					  	<h4>3200000</h4>
					  </div>
		    	</div>
		    	<div class="col-xs-2">
					  <div class="form-group input-group">
					  	<span><small>Year 2</small></span>
					  	<h4>3200000</h4>
					  </div>
		    	</div>
		    	<div class="col-xs-2">
					  <div class="form-group input-group">
					  	<span><small>Year 3</small></span>
					  	<h4>3200000</h4>
					  </div>
		    	</div>
          <div class="col-xs-2 col-xs-offset-2 padding-top-20">
            <button class="btn-long btn-zam">Add to Portfolio</button>
          </div>
		    </div>


		  </div>
  		</div>
  	</div>
  	<div class="col-md-4 col-sm-12 padding-5">


  		<div class="card card-default margin-bottom-5">
  		  <div class="card-heading">
  		    <h3 class="card-title">Yield more about Equity funds</h3>
  		  </div>
  		  <div class="card-body">
  		  </div>
  		  <div class="list-group">
  		    <a href="#" class="list-group-item">
  		      <h4 class="list-group-item-heading">Mirea asst </h4>
  		      <p class="list-group-item-text">Equity: Mid cap</p>
  		    </a>
  		    <a href="#" class="list-group-item">
  		      <h4 class="list-group-item-heading">Mirea asst </h4>
  		      <p class="list-group-item-text">Equity: Mid cap</p>
  		    </a>
  		    <a href="#" class="list-group-item">
  		      <h4 class="list-group-item-heading">Mirea asst </h4>
  		      <p class="list-group-item-text">Equity: Mid cap</p>
  		    </a>
  		    <a href="#" class="list-group-item">
  		      <h4 class="list-group-item-heading">Mirea asst </h4>
  		      <p class="list-group-item-text">Equity: Mid cap</p>
  		    </a>
  		    <a href="#" class="list-group-item">
  		      <h4 class="list-group-item-heading">Mirea asst </h4>
  		      <p class="list-group-item-text">Equity: Mid cap</p>
  		    </a>
  		    <a href="" class="list-group-item">
  		    	<button class="btn-long btn-zam center-block">View All</button>
  		    </a>
  		  </div>

  		</div>

  	</div>
	</div>
