	<div class="">

  	<div class="col-md-8 col-sm-12 padding-5 animated fadeInUp card">
  		<div class="">

			<div class="panel-heading">
				<h3 class="margin-top-10"><%= assets.name %></h3>
				<p><%= assets.type %></p>
			</div>
		  <div class="panel-body">
		    <div class="row">
		    	<div class="col-xs-12">
		    		<h3><%#= assets.meta.name %></h3>
		    	</div>
		    	<div class="col-xs-2">
					  <div class="form-group input-group">
					  	<span><small>Initial Amount</small></span>
					  	<h4><%= assets.value %></h4>
					  </div>
		    	</div>


		    </div>

		    <div class="row">
		    	<div class="col-xs-12">
		    		<div class="panel panel-default">
		    			<p>graphs here</p>
		    		</div>

		    	</div>
		    </div>
		  </div>
  		</div>
  	</div>
  	<div class="col-md-4 col-sm-12 padding-left-5 padding-right-5">
  		<div class="card card-default margin-bottom-5">
  		  <div class="card-heading">Tips</div>
  		  <div class="card-body">
  		  	<p>
	  		    in order to meet John's Hight School goal you need to invest 30% more in Equity Funds
  		  	</p>
  		  </div>
  		</div>

  		<div class="card card-default margin-bottom-5">
  		  <div class="card-heading">
  		    <h3 class="card-title">Some suggested Equity funds</h3>
  		  </div>
  		  <div class="card-body">
  		  </div>
  		  <div class="list-group">
  		    <a href="#" class="list-group-item">
  		      <h4 class="list-group-item-heading">Mirea asst </h4>
  		      <p class="list-group-item-text">Equity: Mid cap</p>
  		    </a>
  		    <a href="#" class="list-group-item">
  		      <h4 class="list-group-item-heading">Mirea asst </h4>
  		      <p class="list-group-item-text">Equity: Mid cap</p>
  		    </a>
  		    <a href="#" class="list-group-item">
  		      <h4 class="list-group-item-heading">Mirea asst </h4>
  		      <p class="list-group-item-text">Equity: Mid cap</p>
  		    </a>
  		    <a href="#" class="list-group-item">
  		      <h4 class="list-group-item-heading">Mirea asst </h4>
  		      <p class="list-group-item-text">Equity: Mid cap</p>
  		    </a>
  		    <a href="#" class="list-group-item">
  		      <h4 class="list-group-item-heading">Mirea asst </h4>
  		      <p class="list-group-item-text">Equity: Mid cap</p>
  		    </a>
  		    <a href="" class="list-group-item">
  		    	<button class="btn-long btn-zam center-block">View All</button>
  		    </a>
  		  </div>

  		</div>

  	</div>
	</div>
