<div class="margin-10 animated fadeInUp card">
  <div class="panel-body">
  	<h3 class="margin-top-10">Goals</h3>
    <div class="row">
    	<div class="col-xs-3">
			  <div class="form-group input-group">
			  	<span class="input-group-addon" ><i class="fa fa-search"></i></span>
			    <input class="form-control" placeholder="Search" />
			  </div>
    	</div>
    </div>
    <div class="row">
    	<div class="col-xs-3">
			  <div class="form-group">
			    <select class="form-control">
	          <option>Selected Columns</option>
	          <!-- <option>2015</option>
	          <option>2014</option>
	          <option>2013</option>
			      <option>2012</option> -->
			    </select>
			  </div>
    	</div>
    	<div class="col-xs-3">
			  <div class="form-group">
			    <select class="form-control">
	          <option>Goal Type</option>

			    </select>
			  </div>
    	</div>
    	<div class="col-xs-3 col-xs-offset-3">
			  <div class="form-group">
			    <select class="form-control">
	          <option>Order By</option>
	          <!-- <option>2015</option>
	          <option>2014</option>
	          <option>2013</option>
			      <option>2012</option> -->
			    </select>
			  </div>
    	</div>

    </div>
    <div class="row">
    	<div class="col-xs-12">
          <% var goalTableKeys = ['name','amount','duration'] %>
    			<%- include(partials.listTable, {data:goals, keys:goalTableKeys, type:'goals'}) %>

    	</div>
    </div>
  </div>
</div>
