<div class="margin-10 animated fadeInUp">
  <div class="col-xs-12 card">
  	<div class="padding-10">
	  	<h3 class="margin-top-10 margin-bottom-15">Knowledge Base</h3>
	    <div class="row">
	    	<div class="col-xs-3">
				  <div class="form-group input-group">
				  	<span class="input-group-addon" ><i class="fa fa-search"></i></span>
				    <input class="form-control" placeholder="Search" />
				  </div>
	    	</div>
	    	<div class="col-xs-3">
				  <div class="form-group">
				    <select class="form-control">
		          <option>Equity Fund</option>
		          <option>2015</option>
		          <option>2014</option>
		          <option>2013</option>
				      <option>2012</option>
				    </select>
				  </div>
	    	</div>
	    </div>
  	</div>
		<%- include(partials.listTable, {data:table.demoData, keys:table.demoKeys}) %>
  </div>
</div>
