<div class="card margin-10 animated fadeInUp">
  <div class="padding-25">
  	<div class="row">
			<div class="col-sm-12 col-md-2">
				<h3>Mutual Fund</h3>
				<small>Published date</small>
				<h4>20th March, 2016</h4>
			</div>
			<div class="col-sm-12 col-md-10">
				<div class="padding-10 text-center">
					<h3>Mutaul Fund</h3>
					<div class="zam-image-container">
						<img class="img-responsive center-block img-rounded" src="http://media2.intoday.in/btmt/images/stories/mutualfunds7_505_031514032200.jpg">
					</div>
					<div class="post-summery padding-10">
						<p class="purple-text text-darken-3">
							There are three types of U.S. mutual funds:open-end funds, unit investment trusts, and closed-end funds.
						</p>
					</div>
					<div class="post-content">
						<p>A mutual fund is a professionally managed investment fund that pools money from many investors to purchase securities.[1] While there is no legal definition of the term "mutual fund", it is most commonly applied only to those collective investment vehicles that are regulated and sold to the general public. They are sometimes referred to as "investment companies" or "registered investment companies". Hedge funds are not mutual funds, primarily because they cannot be sold to the general public.

						In the United States, mutual funds must be registered with the U.S. Securities and Exchange Commission, overseen by a board of directors or board of trustees, and managed by a Registered Investment Advisor. Mutual funds are subject to an extensive and detailed regulatory regime set forth in Investment Company Act of 1940. Mutual funds are not taxed on their income and profits if they comply with certain requirements under the U.S. Internal Revenue Code.

						Mutual funds have both advantages and disadvantages compared to direct investing in individual securities. Today they play an important role in household finances, most notably in retirement planning.
</p>
					</div>
				</div>
			</div>
  	</div>
  </div>
</div>
