<% var profilePanId = componentId('profilePan') %>

<div id="<%= profilePanId %>" >
	<script>
	$(function () {
		app.components.profilePan($('#<%= profilePanId %>'));
	});
	</script>

	<!-- profile menu -->

	<div class="row">
		<div class="col-sm-12 card">
			<ul class="zam-tabs profile-pan-tabs">
				<li class="zam-tab"><a class="panel-link" data-partial="overviewPan"  href="#overview"> Overview</a></li>
				<li class="zam-tab"><a class="panel-link" data-partial="goalsPan"  href="#goals">Goals</a></li>
				<li class="zam-tab"><a class="panel-link" data-partial="assetsPan"  href="#assets">assets</a></li>
				<!-- <li class="zam-tab"><a data-toggle="tab" href="#bank-accounts">bank accounts</a></li>
				<li class="zam-tab"><a data-toggle="tab" href="#add-goal">add goal</a></li>
				<li class="zam-tab"><a data-toggle="tab" href="#goal-details">goal details</a></li>
				<li class="zam-tab"><a data-toggle="tab" href="#access-equity">access equity</a></li>
				<li class="zam-tab"><a data-toggle="tab" href="#mutual-fund">mutual fund</a></li>
				<li class="zam-tab"><a data-toggle="tab" href="#knowledge-base">knowledge Base</a></li> -->

			</ul>
		</div>

		<div id="tab-content" class="tab-content margin-top-76">

			<div id="overview" class="tab-pane   active">
				<%- include(partials.overviewPan) %>
			</div>
			<!--

			<div id="goals" class="tab-pane ">
				<%#- include(partials.goalsPan) %>

			</div>

			<div id="assets" class="tab-pane ">
				<%#- include(partials.assetsPan) %>

			</div>




			 <div id="bank-accounts" class="tab-pane ">
				<%#- include(partials.bankAccountsPan) %>
			</div>

			<div id="add-goal" class="tab-pane ">
				<%#- include(partials.addGoalPan) %>
			</div>

			<div id="goal-details" class="tab-pane">
				<%#- include(partials.goalDetailsPan) %>
			</div>

			<div id="access-equity" class="tab-pane">
				<%#- include(partials.accessEquityPan) %>
			</div>

			<div id="mutual-fund" class="tab-pane">
				<%#- include(partials.mutualFundPan) %>
			</div>

			<div id="knowledge-base" class="tab-pane">
				<%#- include(partials.knowledgeBasePan) %>
			</div> -->

		</div>
	</div>
</div>
<!-- /profile menu -->
