<div id="flotBarChart">
  <script>
    $(function () {
      app.components.flotBarChart($('#flotBarChart'));
    });
  </script>
	<div class="ibox float-e-margins">
	    <div class="ibox-title">
	        <h5>Bar Chart Example <small>With custom colors.</small></h5>
	        <div class="ibox-tools">
	            <a class="collapse-link">
	                <i class="fa fa-chevron-up"></i>
	            </a>
	            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
	                <i class="fa fa-wrench"></i>
	            </a>
	            <ul class="dropdown-menu dropdown-user">
	                <li><a href="#">Config option 1</a>
	                </li>
	                <li><a href="#">Config option 2</a>
	                </li>
	            </ul>
	            <a class="close-link">
	                <i class="fa fa-times"></i>
	            </a>
	        </div>
	    </div>
	    <div class="ibox-content">
	            <div class="flot-chart">
	                <div class="flot-chart-content" id="flot-bar-chart" style="padding: 0px; position: relative;"><canvas class="flot-base" width="485" height="200" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 485px; height: 200px;"></canvas><div class="flot-text" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; font-size: smaller; color: rgb(84, 84, 84);"><div class="flot-x-axis flot-x1-axis xAxis x1Axis" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; display: block;"><div class="flot-tick-label tickLabel" style="position: absolute; max-width: 69px; top: 185px; left: 14px; text-align: center;">1</div><div class="flot-tick-label tickLabel" style="position: absolute; max-width: 69px; top: 185px; left: 96px; text-align: center;">2</div><div class="flot-tick-label tickLabel" style="position: absolute; max-width: 69px; top: 185px; left: 178px; text-align: center;">3</div><div class="flot-tick-label tickLabel" style="position: absolute; max-width: 69px; top: 185px; left: 260px; text-align: center;">4</div><div class="flot-tick-label tickLabel" style="position: absolute; max-width: 69px; top: 185px; left: 343px; text-align: center;">5</div><div class="flot-tick-label tickLabel" style="position: absolute; max-width: 69px; top: 185px; left: 425px; text-align: center;">6</div></div><div class="flot-y-axis flot-y1-axis yAxis y1Axis" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; display: block;"><div class="flot-tick-label tickLabel" style="position: absolute; top: 173px; left: 6px; text-align: right;">0</div><div class="flot-tick-label tickLabel" style="position: absolute; top: 138px; left: 0px; text-align: right;">10</div><div class="flot-tick-label tickLabel" style="position: absolute; top: 104px; left: 0px; text-align: right;">20</div><div class="flot-tick-label tickLabel" style="position: absolute; top: 69px; left: 0px; text-align: right;">30</div><div class="flot-tick-label tickLabel" style="position: absolute; top: 35px; left: 0px; text-align: right;">40</div><div class="flot-tick-label tickLabel" style="position: absolute; top: 1px; left: 0px; text-align: right;">50</div></div></div><canvas class="flot-overlay" width="485" height="200" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 485px; height: 200px;"></canvas></div>
	            </div>
	    </div>
	</div>
</div>