<% var authModalId = componentId('authModal') %>

<div id="<%= authModalId %>" >
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
       <div class="" id="loginPage">
        <script>
            $(function () {
                        app.components.loginPage($("#<%= authModalId %>"));
                    }
            );
        </script>

        <div class="card sign-in margin-bottom-1" >
          <div class="panel-heading text-center">
            <div class="panel-title">Sign In
              <div class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close"></i></div>
            </div>
              <div class="hide">
                <a href="#">Forgot password?</a>
              </div>
            </div>
            <div class="panel-body" >
            <div class="">
            <div id="loginalert" style="display:none" class="alert alert-danger">
              <p>Error: Please try again</p>
            </div>
            <form id="login-form" class="form-horizontal" role="form">
              <div class="input-group margin-bottom-25">
                <span class="input-group-addon">
                  <i class="fa fa-user"></i>
                </span>
                <input type="email" id="email" class="form-control" placeholder="Email address" required autofocus />
              </div>
              <div class="input-group margin-bottom-25">
                <span class="input-group-addon">
                  <i class="fa fa-lock"></i>
                </span>
                <input type="password" id="password" class="form-control" placeholder="Password" required>
              </div>

              <div class="form-group">
              <!-- Button -->
              <div class="col-sm-12 controls">
                <button id="loginBtn" class="btn btn-full btn-fa" type="submit">Login</button>
              </div>
              </div>

              <div class="row text-center">
                <p> Or else, you can login via:</p>
              </div>
              <div class="form-group margin-top-20">
                <div class="col-sm-12 controls">
                    <button type="button" class="btn btn-primary btn-lg btn-block fb-bg fb">
                      <i class="fa fa-facebook text-blue float-left" style="margin-right:10%;"></i>Facebook
                    </button>
                </div>

                 <!--  <div class="col-sm-12 controls margin-top-20">
                    <button type="button" class="btn btn-lg btn-block gplus-bg gplus" style="color:white">
                      <i class="fa fa-google-plus text-white" style="margin-right:10%;"></i>Google
                    </button>
                  </div> -->
                <div class="col-md-12 margin-top-30">
                  <div>
                    Don't have an account!
                    <a href="#" class="signup-link">
                      Sign Up Here
                    </a>
                  </div>
                </div>
              </div>

           <!--  <div class="form-group margin-top-20">

              <div class="col-md-12 margin-top-30">
                <div>
                  Don't have an account!
                  <a href="#" class="signup-link">
                    Sign Up Here
                  </a>
                </div>
              </div>
            </div>   -->
          </form>
          </div>
        </div>

      </div>



      <div class="card sign-up margin-bottom-1" style="display:none">
        <div class="panel-heading text-center">
          <div class="panel-title">Sign Up
            <div class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close"></i></div>
          </div>
            <!-- <div class="">
              <a id="signinlink" href="#">Sign In</a>
            </div> -->
          </div>
          <div class="panel-body" >
            <form id="signup-form" class="form-horizontal" role="form">
              <div id="signupalert" style="display:none" class="alert alert-danger">
                <p>Error: Please try again</p>
                <span></span>
              </div>
              <div class="form-group">
<!--                 <label for="firstname" class="col-md-3 control-label">Name</label> -->
                <div class="col-sm-12">
                  <input type="text" class="form-control user-full-name" name="firstname" placeholder="Full Name">
                </div>
              </div>
              <div class="form-group">
<!--                 <label for="email" class="col-md-3 control-label">Email</label> -->
                <div class="col-sm-12">
                  <input type="text" class="form-control user-email" name="email" placeholder="Email Address">
                </div>
              </div>
<!-- 
              <div class="form-group">
                <div class="col-sm-12">
                  <input type="text" class="form-control username" name="username" placeholder="username">
                </div>
              </div> -->

              <div class="form-group">
<!--                 <label for="password" class="col-md-3 control-label ">Password</label> -->
                <div class="col-sm-12">
                  <input type="password" class="form-control user-password" name="password" placeholder="Password">
                </div>
              </div>
              <div class="form-group">
<!--                 <label for="password_confirm" class="col-md-3 control-label">Confirm Password</label> -->
                <div class="col-sm-12">
                  <input type="password" class="form-control user-confirm-password" name="password_confirm" placeholder="Confirm Password">
                </div>
              </div>

              <div class="details-form">
              <div class="form-group">
                <div class="col-sm-12">
                <select name="gender" class="form-control">
                  <option>Gender</option>
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                  <option value="Others">Others</option>
                </select>
                </div>
              </div>

              <!--
              <div class="form-group">
                <div class="col-sm-12">
                  <input type="text" class="form-control " name="bio" placeholder="Bio">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-12">
                  <input type="text" class="form-control" name="department" placeholder="Department">
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-12">
                  <input type="number" maxlength="4" class="form-control " name="addmission_year" placeholder="Year of Addmission">
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-12">
                  <input type="number" maxlength="4" class="form-control " name="passing_year" placeholder="Year of Passing">
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-12">
                  <input type="text" class="form-control " name="skills" placeholder="Skills">
                </div>
              </div> -->
<!--
              <div id="image-preview" class="row"></div>
              <div class="form-group upload-picker margin-top-20 margin-bottom-20">
                <div class="col-sm-12">

                  <label>Add Profile picture</label>
                  <input required type="file" id="uploadInput">
                </div>
              </div>
 -->

              </div>

              <style type="text/css">
                  #image-preview img {
                      width: 300px;
                      height: 300px;
                      margin: 0 auto;
                  }
              </style>




              <div class="form-group">
              <!-- Button -->
                <div class="col-sm-12">
                  <button type="button" class="btn btn-fa signupBtn"><i class="icon-hand-right"></i> &nbsp; Sign Up</button>
                </div>
              </div>
            </form>
          </div>
        </div>
    </div>
    </div>
  </div>
</div>
