<div >
  <div class="modal-dialog modal-xs modal-sm modal-md modal-lg full-screen">
    <div class="modal-content padding-15">
      <div class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close"></i></div>
        
      <% if(me) { %> 
        <%- include(partials.updateProfileForm) %>
      <% } %>




    
    </div>
  </div>
</div>        