<div class="modal" id="authModal" role="dialog" aria-labelledby="authModalBox">
</div>
<div class="modal" id="updateProfileModal" role="dialog" aria-labelledby="authModalBox">
</div>
<div class="modal" id="addGoalModal" role="dialog" aria-labelledby="addGoalModalBox">
</div>
<div class="modal" id="addAssetModal" role="dialog" aria-labelledby="addAssetModalBox">
</div>
