<div id="nav">
  <script>
    $(function () {
      app.components.navController($('#nav'));
    });
  </script>


	<div class="row">
	<nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
  <% if (me) { %>
	<div class="navbar-header">
	    <a class="navbar-minimalize " href="#"><div class="hexagon pull-left "><i class="fa fa-bars fa-lg white-text"></i></div></a>
	    <form role="search" class="navbar-form navbar-left panel-link" data-url="/otherpages" data-partial="searchresults">
	        <div class="form-group">
	            <input type="text" placeholder="Search " class="form-control ">
	        </div>
	    </form>

	</div>

	    <ul class="nav navbar-nav navbar-right margin-right-15">




         <li class="dropdown">
           <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="logindropdown">
             <span><%= me.full_name %></span>
           </a>
           <ul class="dropdown-menu" aria-labelledby="logindropdown">
            <li><a href="#" class="logout">Logout</a></li>
            <!-- <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li> -->
          </ul>
         </li>
         <li class="" >
           <a href="<%= genUrl(me.full_name) %>" class="profile-pic">

           </a>
         </li>


	    </ul>

      <%} else { %>
        <ul class="nav navbar-nav navbar-right margin-right-15">

        <li class="btn-group" role="group" aria-label="...">
          <a href="#" class=" signin-link link-text ">Login/Signup</a>
        </li>
      </ul>

      <% } %>
	</nav>
	</div>

</div>
