
<div id="sub-header" class="animated fadeInDown row">

  <ol class="breadcrumb text-capitalize zam-white  margin-bottom-3">
    <li><a href="/" class="dark-text"></a></li>
    <li><i class="fa fa-angle-double-right fa-lg margin-right-5"></i><a href="<%= genUrl(pageurl)  %>" class="dark-text"><%= pagename %></a></li>
    <li class="pull-right">
    
    </li>
    <li class="pull-right">
    </li>
  </ol>



</div>
