<% var postModalId = componentId('postModal') %>
<div id="<%= postModalId %>">
		<script>
			$(function () {
						app.components.postModal($("#<%= postModalId %>"));
					}
			);
		</script>
  <div class="modal-dialog modal-xs modal-sm modal-md modal-lg ">
	<div class="modal-content animated fadeInUp">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<h4 class="modal-title">Add a blog Post</h4>
	  </div>
	  <div class="modal-body">

			<div class="row">
				<form class="add-project-form">
					<div class="col-sm-12 col-md-6">
					  <div class="form-group">
							<label for="title">Title</label>
							<input required name="title" type="text" id="title" class="form-control" placeholder="Title">
					  </div>
					</div>
					<div class="col-sm-12 col-md-6">
					  <div class="form-group">
							<label  for="short-d">Summery</label>
							<input required name="short_description" type="text" class="form-control" id="short-d" placeholder="Summery">
					  </div>
					</div>
				</form>
				<div class="col-sm-12 col-md-12">
					
					<form class=" add-details-form">
					  <div class="form-group">
							<label>Write your post</label><br>
							<textarea name="details" id="description" type="text" class="form-control" placeholder="what's on your mind ?"></textarea>
					  </div>
					</form>  
				</div>
				<div class="col-sm-12 col-md-12">
					<div id="image-preview" class="row margin-top-20"></div>
					<div class="form-group upload-picker margin-top-20">
					  <label>Want to share some images ?</label>
					  <input required type="file" id="uploadInput">
					</div>
				
					<button class="add-project btn btn-default">Submit</button>
		  	
		  	</div>
			</div>

<style type="text/css">
	#image-preview img {
		width: 200px;
		height: 200px;
	}
</style>


	
	</div>
  </div>
</div>        
</div>