<% var addAssetBtn = componentId('addAssetBtn') %>

<div id="<%= addAssetBtn %>" >
  <script>
  $(function () {
    app.components.addAssetBtn($('#<%= addAssetBtn %>'));
  });
  </script>

  <div class="btn btn-zam btn-xs">Add New Asset</div>

</div>
