<% var addGoalBtn = componentId('addGoalBtn') %>

<div id="<%= addGoalBtn %>" >
  <script>
  $(function () {
    app.components.addGoalBtn($('#<%= addGoalBtn %>'));
  });
  </script>

  <div class="btn btn-zam btn-xs">Add New Goal</div>

  
</div>
