<% var updateProfileBtn = componentId('updateProfileBtn') %>

<div id="<%= updateProfileBtn %>" >
  <script>
  $(function () {
    app.components.updateProfileBtn($('#<%= updateProfileBtn %>'));
  });
  </script>

  <div class="btn btn-zam btn-xs">Update Profile</div>

</div>
