<div class="row b-ws-top">
  <form id="login-form" action="/auth/local" method="POST">
    <fieldset>
      <legend>Login Form</legend>
      <label>Username
        <input type="text" id="email" name="username">
      </label>
      <label>Password
        <input type="password" id="password" name="password" >
      </label>
    </fieldset>
    <button type="submit">Submit</button>
  </form>
</div>