<% var addIdeaBtn = componentId('addIdeaBtn') %>

<div id="<%= addIdeaBtn %>" >
  <script>
  $(function () {
    app.components.addIdeaBtn($('#<%= addIdeaBtn %>'));
  });
  </script>

  <div class="btn-full lime lighten-5 ">Share your Idea</div>

  
</div>
