<% var addPostBtn = componentId('addPostBtn') %>

<div id="<%= addPostBtn %>" >
  <script>
  $(function () {
    app.components.addPostBtn($('#<%= addPostBtn %>'));
  });
  </script>

  <div class="btn-full grey lighten-5">Write Blog Post</div>

  
</div>
