<% var addProjectBtn = componentId('addProjectBtn') %>

<div id="<%= addProjectBtn %>" >
  <script>
  $(function () {
    app.components.addProjectBtn($('#<%= addProjectBtn %>'));
  });
  </script>

  <div class="btn-full cyan lighten-5 ">Share a Project</div>

</div>
