<% var my_name = me ?  (me.full_name && me.full_name.length > 0 ? me.full_name : me.username) : '' %>
<% var user = user ? user : '' %>
<div id="sidebarLeft">
  <script>
    $(function () {
      app.components.sidebarLeft($('#sidebarLeft'));
    });
  </script>


</div>


