    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Profile</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li>
                    <a>Extra Pages</a>
                </li>
                <li class="active">
                    <strong>Profile</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">

        </div>
    </div>

<div class="wrapper wrapper-content">
    <div class="row animated fadeInRight">

        

        <div class="col-md-12">
            
                    <div class="ibox-content text-center">
                        <h1>IBM Corp.</h1>
                        <div class="m-b-sm">
                                <img alt="image" class="img-circle" src="img/a8.jpg">
                        </div>
                    
                    </div>
                 <br/>
                <br/>
                <br/>
                
                </div>
            
        

        <div class="col-md-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Profile Detail</h5>
                </div>
                <div>
                    
                    <div class="ibox-content profile-content">
                        
                        <h4><strong>IBM Corp.</strong></h4>
                        <p><i class="fa fa-map-marker"></i> Riviera State 32/106</p>
                        <h5>
                            Company Description:
                        </h5>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitat.
                        </p>
                        <center>
                        <div class="row m-t-lg">
                            <div class="col-md-4">
                                 <span class="fa fa-tag fa-3x"></span>
                                <h5><strong>169</strong> Listed softwares</h5>
                            </div>
                            <div class="col-md-4">
                                 <span class="fa fa-bullhorn fa-3x"></span>
                                <h5><strong>28</strong> Customers</h5>
                            </div>
                            <div class="col-md-4">
                                <span class="fa fa-trophy fa-3x"></span>
                                <h5><strong>10</strong> Rating</h5>
                                <br/>
                            <br/>
                            </div>

                        </div>

                        <div class="user-button">
                            <div class="row">
                                <div class="col-md-6">
                                    <button type="button" class="btn btn-primary btn-sm btn-block"><i class="fa fa-user"></i> Edit Profile</button>
                                </div>
                                <div class="col-md-6">
                                    <button type="button" class="btn btn-default btn-sm btn-block"><i class="fa fa-rocket"></i> See your Sales</button>
                                </div>
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>


                    </div>
            </div>
        </div>
            </div>

               </center>
                            
                            <div class="col-md-12">
                                <div class="ibox float-e-margins">
                                    <div class="ibox-title">
                                         <h5>Profile Detail</h5>
                                    </div>
                    
                    
                    <div class="ibox-content profile-content">
                            <div class="hr-line-vertical-dashed"></div>
                        
                        
                        <div class="form-group"><label class="col-lg-2 control-label">Static control</label>

                            <div class="col-lg-6"><p class="form-control-static">email@example.com</p></div>
                        </div>
                        
                              
                        </div>
   
                  </div>
         </div>
 
                            
        
    </div>
</div>
