<div class="row b-ws-top" id="loginSuccess">
		<script>
		$(function () {
			app.components.authModalSuccess($('#loginSuccess'));
		});
	</script>

	<div class="row margin-top-200">
		<div class="col-sm-12 padding-50">
			<p>Be patient ! will close soon !</p>
		</div>
	</div>

</div>